<%-include('../layouts/adminHeader')%>
    <%-include('../layouts/adminSidebar')%>

    <style>
        /* body{
        background-color:#ff52529c;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        } */


        .card-body{

        width: 300px;
        border:none;
        height: 300px;
        border-radius: 15px;
        padding: 20px;
        background-image: linear-gradient(to bottom right, #393131, #FF8A80);
    }

        .percent{

        font-size: 56px;
        color: #fff;
        }

        .discount{

        font-size: 27px;
        color: #fff;
        }


        .line{

        color: #fff;
        }



        .form-check-input:checked {
            background-image: linear-gradient(to bottom right, #393131, #FF8A80);
            border-color: #F44336;
        }


        .form-check-input:focus {
        border-color: #d50000;
        outline: 0;
        box-shadow: none;
        }


        .form-check {
        display: block;
        min-height: 1.5rem;
        padding-left: 1.75em;
        margin-bottom: -5px;
        }
        .input-container {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .copy-button input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 15px;
            background-image: linear-gradient(to bottom right, #393131, #FF8A80);
            padding-right: 80px; 
            box-sizing: border-box;
            color: #fff;
        }

        .copy-button button {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            padding: 5px 20px;
            background-color: #dc143c;
            color: #fff;
            border: 1px solid transparent;
            height: 80%;
            cursor: pointer;
        }
        .copy-button {
            margin: 12px 0 -5px 0;
            height: 45px;
            border-radius: 4px;
            padding: 0 5px;
            border: 1px solid #e1e1e1;
        }

        .modal-content {
            background-color: #f8f9fa;
            border-radius: 10px;
        }

        .modal-header {
            border-bottom: none;
        }

        .modal-title {
            font-weight: bold;
            color: #343a40;
        }
        

    </style>

    <div class="pc-container" style="background-color: rgb(234, 230, 230);">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Coupon</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item">coupon</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Coupon</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Your form or content for the new offer goes here -->
                            <form id="coupon-form">
                                <div id="error-message" style="color: red; margin-bottom: 10px;"></div> <!-- Error message container -->
                        
                                <div class="form-group">
                                    <label for="minimum-price">Minimum</label>
                                    <input type="number" class="form-control" id="minimum-price" placeholder="Enter the Minimum price">
                                </div>
                                <div class="form-group">
                                    <label for="discount">Discount</label>
                                    <input type="number" class="form-control" id="discount" placeholder="Enter the discount">
                                </div>
                                <div class="form-group">
                                    <label for="coupon-Expiry-Date">Offer Expiry Date</label>
                                    <input type="date" class="form-control" id="coupon-Expiry-Date" placeholder="Enter Expiry Date">
                                </div>
                                <!-- Add more form fields as needed -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" onclick="couponadding()" class="btn btn-primary">Save Offer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-top: 40px;">
                <div class="card">
                    <h4 class="card-title p-3">Coupons</h4>
                    <% if (coupons && coupons.length > 0) { %>
                        <div class="row">
                            <% coupons.forEach((item, index) => { %>
                                <div class="col-lg-4 col-md-6 mb-4 d-flex flex-column align-items-center">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <div class="d-flex flex-row text-center">
                                                <div class="d-flex flex-column text-center text-white ">
                                                    <span>min purchase:</span>
                                                    <span>₹<%= item.minimumPrice %></span>
                                                </div>
                                                <div class="d-flex flex-column ml-1">
                                                    <h1 class="mb-0 percent pl-5"><%= item.discount %>%</h1>
                                                    <span class="discount pl-5">Discount</span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="line">
                                        <div class="copy-button">
                                            <div class="input-container">
                                                <input id="copyvalue-<%= index %>" type="text" readonly value="<%= item.couponCode %>" >
                                                <button onclick="copyIt('<%= index %>')" class="copybtn">COPY</button>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mt-4">
                                            <span id="status-<%= item._id %>" class="text-white"><%= item.is_active ? 'Active' : 'Inactive' %></span>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="flexSwitchChecked-<%= item._id %>" value="<%= item._id %>" <%= item.is_active ? 'checked' : '' %>>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 mt-3">
                                                <a id="updateLink<%= item._id %>" class="update-link" data-coupon-id="<%= item._id %>" data-minimum-price="<%= item.minimumPrice %>" data-discount="<%= item.discount %>" data-expiry-date="<%= item.expiryDate.toISOString().split('T')[0] %>">Update</a>
                                            </div>
                                            <div class="col-6">
                                                <p class="d-flex justify-content-end mt-3">Exp: <%= new Date(item.expiryDate).toLocaleString('en-IN', { year: 'numeric', month: '2-digit', day: '2-digit' }) %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="updateModal<%= item._id %>" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel<%= item._id %>" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="updateModalLabel<%= item._id %>">Update Item</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="update-form" data-coupon-id="<%= item._id %>">
                                                    <div id="update-error-message-<%= item._id %>" style="color: red; margin-bottom: 10px;"></div> 
                                                    <div class="form-group">
                                                        <label for="input1">Minimum Price</label>
                                                        <input type="text" class="form-control" id="input1" name="minimumPrice" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="input2">Discount</label>
                                                        <input type="text" class="form-control" id="input2" name="discount" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="input3">Expiry Date</label>
                                                        <input type="date" class="form-control" id="input3" name="expiryDate" required>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination m-3">
                                <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                    <a class="page-link page-link-prev" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                                        <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span> Prev
                                    </a>
                                </li>
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                    </li>
                                <% } %>
                                <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                    <a class="page-link page-link-next" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                        Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    <% } else { %>
                        <p class="ml-3">Coupon not available</p>
                    <% } %>
                </div>
            </div>

            <div class="container" style="display: flex; justify-content: right; margin-top:30x;">
                <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#offerModal">Add New Coupon+</a>
            </div>

          
            

            
            
            <script>
            function couponadding() {
                let discount = $('#discount').val();
                let minimumPrice = $('#minimum-price').val();
                let expiryDate = $('#coupon-Expiry-Date').val();
                let currentDate = new Date().toISOString().split('T')[0]; 
                let errorMessage = $('#error-message');
                errorMessage.text('');

                if (!minimumPrice || !discount || !expiryDate) {
                    errorMessage.text('All fields are empty.');
                    return;
                }

                if (minimumPrice <= 0 || discount <= 0) {
                    errorMessage.text('Minimum price and discount must be positive numbers.');
                    return;
                }

                if (discount >= 70) {
                    errorMessage.text('Discount should be between 5 and 70.');
                    return;
                }

                if (expiryDate <= currentDate) {
                    errorMessage.text('Expiry date must be in the future.');
                    return;
                }

            
                fetch('/admin/addCoupon', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        discount,
                        minimumPrice,
                        expiryDate
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire(
                            'Success',
                            'Coupon successfully added',
                            'success'
                        ).then(() => {
                            window.location.reload();
                        });
                    }
                })
                .catch(error => {
                    console.log('Error',error);
                });
            }
            </script>
            
            
            <!-- <script>
                let copybtn = document.querySelector(".copybtn");
                function copyIt(){
                let copyInput = document.querySelector('#copyvalue');
                copyInput.select();
                document.execCommand("copy");
                copybtn.textContent = "COPIED";
                }
            </script> -->
            <script>
                function copyIt(index) {
                    let copyInput = document.querySelector('#copyvalue-' + index);
                    copyInput.select();
                    document.execCommand("copy");
                    let copybtn = copyInput.nextElementSibling;
                    copybtn.textContent = "COPIED";
                }
            </script>

            <script>
                document.querySelectorAll('.form-check-input').forEach(checkbox => {
                    checkbox.addEventListener('change', () => {
                        const couponId = checkbox.getAttribute('value');
                        const isChecked = checkbox.checked;
                        fetch('/admin/statusChecked', { 
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ isChecked, couponId })
                        })
                        .then(response => response.json())
                        .then(data => {
                            const statusElement = document.getElementById(`status-${couponId}`);
                            if (data.success) {
                                statusElement.textContent = isChecked ? 'Active' : 'Inactive';
                                Swal.fire('Success', `Coupon is ${isChecked ? 'active' : 'inactive'}`, 'success');
                            } else {
                                Swal.fire('Error', 'Coupon status change failed', 'error');
                            }
                        })
                        .catch(error => {
                            console.error(error);
                        });
                    });
                });
            </script>

            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const updateLinks = document.querySelectorAll('[id^="updateLink"]');
                    updateLinks.forEach(link => {
                        link.addEventListener('click', function(event) {
                            event.preventDefault();

                            const couponId = this.getAttribute('data-coupon-id');
                            const minimumPrice = this.getAttribute('data-minimum-price');
                            const discount = this.getAttribute('data-discount');
                            const expiryDate = this.getAttribute('data-expiry-date');

                            const modal = document.getElementById('updateModal' + couponId);
                            const input1 = modal.querySelector('#input1');
                            const input2 = modal.querySelector('#input2');
                            const input3 = modal.querySelector('#input3');

                            input1.value = minimumPrice;
                            input2.value = discount;
                            input3.value = expiryDate;

                            const modalInstance = new bootstrap.Modal(modal);
                            modalInstance.show();
                        });
                    });

                    const updateForms = document.querySelectorAll('.update-form');
                    updateForms.forEach(form => {
                        form.addEventListener('submit', function(event) {
                            event.preventDefault();

                            const couponId = form.getAttribute('data-coupon-id');                            
                            const minimumPrice = this.querySelector('#input1').value;
                            const discount = this.querySelector('#input2').value;
                            const expDate = this.querySelector('#input3').value;

                            const errorMessageContainer = form.querySelector('#update-error-message-' + couponId);
                            errorMessageContainer.textContent = '';

                            if (!minimumPrice || !discount || !expDate) {
                                errorMessageContainer.textContent = 'All fields are required.';
                                return;
                            }
                            if (minimumPrice <= 0 || discount <= 0) {
                                errorMessageContainer.textContent = 'Minimum price and discount must be positive numbers.';
                                return;
                            }
                            if (discount >= 70) {
                                errorMessageContainer.textContent = 'Discount should be between 5 and 70.';
                                return;
                            }
                            let currentDate = new Date().toISOString().split('T')[0];
                            if (expDate <= currentDate) {
                                errorMessageContainer.textContent = 'Expiry date must be in the future.';
                                return;
                            }

                            fetch('/admin/editCoupon', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    couponId,
                                    minimumPrice,
                                    discount,
                                    expDate
                                })
                            }).then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    Swal.fire(
                                        'Success',
                                        'Coupon edited successfully',
                                        'success'
                                    ).then(() => {
                                        window.location.reload();
                                    });
                                } else {
                                    Swal.fire(
                                        'Failed',
                                        'Coupon editing failed',
                                        'error'
                                    );
                                }
                            });

                            const modalInstance = bootstrap.Modal.getInstance(this.closest('.modal'));
                            modalInstance.hide();
                        });
                    });
                });
            </script>
    <%-include('../layouts/adminFooter')%>