<%-include('../layouts/adminHeader')%>
<%-include('../layouts/adminSidebar')%>

<div class="pc-container" style="background-color: rgb(234, 230, 230);">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit Product Details</h4>
                        <% if (errmsg.length > 0) { %>
                            <div class="alert alert-danger"><%= errmsg %></div>
                        <% } %>
                        <form action="/admin/editProduct?id=<%= productDetail._id %>" method="POST" onsubmit="return validation()">
                            <div class="form-body">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2">Name</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <input type="text" class="form-control" id="name" name="name"
                                                        placeholder="Enter Product Name" value="<%= productDetail.name %>">
                                                    <div id="nameContainer" class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2">Price</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <input type="text" class="form-control" id="price" name="price"
                                                        placeholder="Enter Product Price" value="<%= productDetail.price %>">
                                                    <div id="priceContainer" class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2">Quantity</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <input type="number" class="form-control" id="quantity" name="quantity"
                                                        placeholder="Enter Quantity" value="<%= productDetail.quantity %>">
                                                    <div id="quantityContainer" class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                              
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2">Category</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <div class="form-group mb-4">
                                                        <select class="custom-select mr-sm-2" id="category" name="category">
                                                            <option value="Choose..." disabled selected>Choose...</option>
                                                            <% categories.forEach((category) => { %>
                                                                <option value="<%= category._id %>" <%= category._id.equals(productDetail.category) ? 'selected' : '' %>>
                                                                    <%= category.name %>
                                                                </option>
                                                            <% }); %>
                                                        </select>
                                                        <div id="categoryContainer" class="text-danger"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2">Description</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    <textarea class="form-control" rows="3" id="description" name="description"
                                                        placeholder="Text Here..."><%= productDetail.description %></textarea>
                                                    <div id="descriptionContainer" class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-lg-2">Images</label>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="file" class="form-control-file" id="Inputimage" multiple="multiple" accept="image/*" name="Inputimage">
                                                    <div id="imagePreview" class="d-flex flex-wrap mt-2">
                                                        <% for (let i = 0; i < productDetail.Inputimage.length; i++) { %>
                                                            <div class="image-wrapper mr-3 mb-3" data-index="<%= i %>">
                                                                <button class="close-button" aria-label="Close alert" type="button" onclick="imageRemove('<%= productDetail._id %>', '<%= i %>')">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <img style="height: 100px; max-width: 100px;" src="/IMAGES/<%= productDetail.Inputimage[i].filename %>" alt="Product Image">
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                    <button id="addImageButton" class="btn btn-primary mt-2">Add Images</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                </div>
                            </div>
                            <!-- Image Preview -->
                            <div id="imagePreview" class="mt-3 thumbnail-container"></div>
                            <!-- Image Preview end -->
                            <div class="form-actions">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-info">Save Changes</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>


<script>
    function imageRemove(productId, index) {
        fetch(`/admin/imageRemove`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productId, index })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementsByClassName('image-wrapper')[index].remove();
                if (data.imageCount < 4) {
                    document.getElementById('addImageButton').style.display = 'block';
                }
            } else {
                console.error('Failed to remove image');
            }
        })
        .catch(error => console.error('Error removing image:', error));
    }

    function previewImage(input, previewId) {
        if (input.files) {
            const files = Array.from(input.files);

            files.forEach(file => {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const imageWrapper = document.createElement('div');
                    imageWrapper.classList.add('image-wrapper', 'mr-3', 'mb-3');
                    const closeButton = document.createElement('button');
                    closeButton.classList.add('close-button');
                    closeButton.setAttribute('aria-label', 'Close alert');
                    closeButton.setAttribute('type', 'button');
                    closeButton.addEventListener('click', function() {
                        imageWrapper.remove();
                    });
                    closeButton.innerHTML = '<span aria-hidden="true">&times;</span>';

                    const image = document.createElement('img');
                    image.style.height = '100px';
                    image.style.maxWidth = '100px';
                    image.src = e.target.result;
                    image.alt = 'Product Image';

                    imageWrapper.appendChild(closeButton);
                    imageWrapper.appendChild(image);

                    document.getElementById(previewId).appendChild(imageWrapper);
                };
                reader.readAsDataURL(file);
            });

            const currentImageCount = document.querySelectorAll('.image-wrapper').length;
            if (currentImageCount >= 10) {
                document.getElementById('addImageButton').style.display = 'none';
            } else {
                document.getElementById('addImageButton').style.display = 'block';
            }
        }
    }

    document.getElementById('Inputimage').addEventListener('change', function() {
        previewImage(this, 'imagePreview');
        this.value = ''; 
    });

    document.getElementById('addImageButton').addEventListener('click', function(e) {
        e.preventDefault();
        document.getElementById('Inputimage').click()
    });

    function validation() {
        let isValid = true;

        document.getElementById('nameContainer').innerText = '';
        document.getElementById('priceContainer').innerText = '';
        document.getElementById('quantityContainer').innerText = '';
        document.getElementById('categoryContainer').innerText = '';
        document.getElementById('descriptionContainer').innerText = '';

        const name = document.getElementById('name').value.trim();
        if (name === '') {
            document.getElementById('nameContainer').innerText = 'Name is required.';
            isValid = false;
        }

        const price = document.getElementById('price').value.trim();
        if (price === '') {
            document.getElementById('priceContainer').innerText = 'Price is required.';
            isValid = false;
        } else if (isNaN(price) || parseFloat(price) <= 0) {
            document.getElementById('priceContainer').innerText = 'Please enter a positive price.';
            isValid = false;
        }

        const quantity = document.getElementById('quantity').value.trim();
        if (quantity === '') {
            document.getElementById('quantityContainer').innerText = 'Quantity is required.';
            isValid = false;
        } else if (isNaN(quantity) || parseInt(quantity) <= 0) {
            document.getElementById('quantityContainer').innerText = 'Please enter a positive quantity.';
            isValid = false;
        }

        const category = document.getElementById('category').value;
        if (category === 'Choose...' || category === '') {
            document.getElementById('categoryContainer').innerText = 'Category is required.';
            isValid = false;
        }

        const description = document.getElementById('description').value.trim();
        if (description === '') {
            document.getElementById('descriptionContainer').innerText = 'Description is required.';
            isValid = false;
        }

        return isValid;
    }
</script>


<%-include('../layouts/adminFooter')%>
