<%-include('../layouts/header')%>
<%-include('../layouts/navbar')%>

<style>
    .offer-price {
        color: red;
    }
    .original-price {
        text-decoration: line-through;
    }
</style>

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Shop</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/product">Shop</a></li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="toolbox">
                        <div class="toolbox-left"></div>
                        <div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label for="sortby">Sort by:</label>
                                <div class="select-custom">
                                    <select name="sortby" id="sortby" class="form-control">
                                        <option value="" disabled selected>Choose</option>
                                        <option name="charecterSort" value="asse">A-Z</option>
                                        <option name="charecterSort" value="disse">Z-A</option>
                                    </select>
                                </div>
                            </div><!-- End .toolbox-sort -->
                            <button id="apply" class="btn-success ml-3" style="display: none;" onclick="filterdProducts()">Apply</button>                          </div><!-- End .toolbox-right -->
                    </div><!-- End .toolbox -->

                    <div class="products mb-3">
                        <div class="row justify-content-center">
                            <% products.forEach(product=> { %>
                            <div class="col-6 col-md-4 col-lg-4">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <% if(product.discount) { %>
                                            <span class="product-label label-new"><%= product.discount %>%</span>
                                        <% } %>
                                        <a href="/productDetails?id=<%= product._id %>">
                                            <img src="/IMAGES/<%= product.Inputimage[0].filename%>" alt="Product image" class="product-image">
                                        </a>
                                        <% if(userData) {%>
                                        <div class="product-action-vertical">
                                            <a onclick="addtoWishlist('<%= product._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action-vertical -->
                                        <% } else { %>
                                            <div class="product-action-vertical">
                                                <a href="/login" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div>
                                            <% } %>
                                        <% if(userData){ %>   
                                            <% if(product.quantity>0){ %>
                                            <div>
                                                <a onclick="addtocart('<%= product._id %>')" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div>  
                                        <%} else { %>
                                            <div>
                                                <a class="btn-product btn-cart"><span>out of stock</span></a>
                                            </div>
                                            <% } %><!-- End .product-action -->
                                        <% } else { %>
                                            <a href="/login" class="btn-product btn-cart"><span>add to cart</span></a>
                                            <% } %> 
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">

                                        <h3 class="product-title"><a href="/productDetails?id=<%= product._id %>"><%= product.name %></a></h3><!-- End .product-title -->
                                        <% if (product.finalPrice!==product.price) { %>
                                            <div class="product-price mt-2">
                                                <span class="offer-price pr-1">₹<%= product.finalPrice %></span> 
                                                <span>was</span>
                                                <span class="original-price pl-1"> ₹<%= product.price %></span>
                                            </div><!-- End .product-price -->
                                        <% } else { %>
                                            <div class="product-price mt-2">
                                                ₹<%= product.price %>
                                            </div><!-- End .product-price -->
                                        <% } %>
                                        <div class="ratings-container">
                                            
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-lg-4 -->
                            <% }) %>
                        </div><!-- End .row -->
                    </div><!-- End .products -->

                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
                                <a class="page-link page-link-prev" href="?page=<%= prevPage %>" aria-label="Previous">
                                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                </a>
                            </li>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= page === i ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                            <li class="page-item <%= page === totalPages ? 'disabled' : '' %>">
                                <a class="page-link page-link-next" href="?page=<%= nextPage %>" aria-label="Next">
                                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-3 order-lg-first">
                    <div class="sidebar sidebar-shop">
                        <div class="widget widget-clean">
                            <label>Filters:</label>
                        </div><!-- End .widget widget-clean -->

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                    Category
                                </a>
                            </h3><!-- End .widget-title -->
                            <div class="collapse show" id="widget-1">
                                <div class="widget-body">
                                    <div class="filter-items filter-items-count">
                                        <% categories.forEach(category => { %>
                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="<%= category._id %>" name="checkbox" value="<%= category._id %>" <% if
                                                (selectedCategory.includes(String(category._id))){%>checked<%} %>>
                                                <label class="custom-control-label" for="<%= category._id %>"><%= category.name %></label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .filter-item -->
                                        <% }) %>
                                    </div><!-- End .filter-items -->
                                </div><!-- End .widget-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .widget -->

                        

                        <div class="widget widget-collapsible">
                            <h3 class="widget-title">
                                <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
                                    Price
                                </a>
                            </h3>
                        
                            <div class="collapse show" id="widget-5">
                                <div class="widget-body">
                                    <div class="filter-items filter-items-count">
                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input sort-option" type="checkbox" name="priceSorting" value="high-to-low" id="sort-high-to-low"<% if
                                                (priceType==='high-to-low' ) { %>checked<% } %>>
                                                <label class="custom-control-label" for="sort-high-to-low">
                                                    High to Low
                                                </label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input sort-option" type="checkbox" name="priceSorting" value="low-to-high" id="sort-low-to-high"<% if
                                                (priceType==='low-to-high' ) { %>checked<% } %>>
                                                <label class="custom-control-label" for="sort-low-to-high">
                                                    Low to High
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .sidebar sidebar-shop -->
                </aside>
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
    function addtocart(productId){
        const quantity=1;
        fetch(`/addToCart?productId=${productId}&quantity=${quantity}`,{
            method:'POST'})
            .then(response=>response.json())
            .then(data=>{
                if(data.success){
                    Swal.fire({
                        icon:'success',
                        title:'Success',
                        text:'successfully product added to cart',
                        showConfiremButton:true,
                        timer:2500,
                    })
                    .then(()=>{
                        window.location.reload()
                    });
                }else if(data.message=='out of stock'){
                    Swal.fire(
                        'error',
                        'out of stock',
                        'error'
                    )
                }else{
                    Swal.fire({
                        icon:'error',
                        title:'Error',
                        text:'failed to add product to cart',
                        showConfiremButton:false,
                        timer:2500
                    })
                }
            })
            .catch(error=>{
                console.log(error);
                Swal.fire({
                    icon:'error',
                    title:'Error',
                    text:'an error occurred whiel adding product to cart',
                    showConfiremButton:false,
                    timer:2500
                })
            })
    }
</script>

<script>
    function addtoWishlist(productId){
        fetch('/addToWishlist',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({productId})
        })
        .then(response=>response.json())
        .then(data=>{
            if(data.success){
                Swal.fire(
                    'Success',
                    'successfully product added to wishlist',
                    'success'
                )
            }else{
                Swal.fire(
                    'Failed',
                    'your wishlist adding failed',
                    'error'
                )
            }
        })
    }
</script>
<!-- 
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const checkboxes = document.querySelectorAll('input[type=checkbox][name=checkbox]');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', (event) => {
                const selectedCategory = event.target.value;
                if (event.target.checked) {
                    window.location.href = `/product?filtered=${selectedCategory}`;
                } else {
                    window.location.href = `/product`;
                }
                checkboxes.forEach(box => {
                    if (box !== event.target) {
                        box.checked = false;
                    }
                });
            });
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        priceSort.forEach(checkbox=>{
            checkbox.addEventListener('change',(event)=>{
                const priceSelectedType=event.target.value
                console.log(priceSelectedType)
                if(event.target.checked){
                    window.location.href=`/product?selectedPrice=${priceSelectedType}`
                }else{
                    window.location.href='/product'
                }
                priceSort.forEach(data=>{
                    if(data!==event.target){
                        data.checked=false
                    }
                })
            })
        })
    })

</script>

<script>
    document.addEventListener('DOMContentLoaded',()=>{
      
        sortBySelect.addEventListener('change',(event)=>{
            const selectedSort=event.target.value
            console.log(selectedSort);
            if(selectedSort){
                window.location.href=`/product?sortBy=${selectedSort}`
            }
        })
    })
</script> -->

<script>

    function showApplyButton() {
        document.getElementById("apply").style.display = "inline-block";
    }

    function addEventListeners() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');   
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', showApplyButton);
        });

        var dropdown = document.getElementById('sortby');
        dropdown.addEventListener('change', showApplyButton);
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        addEventListeners();
    });

    function getSearchValue() {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get('input') || '';
    }
</script>


<script>
      const filterdProducts = async () => {
        try {
            const checkboxes = document.querySelectorAll('input[type=checkbox][name=checkbox]:checked');
            const priceSort = document.querySelectorAll('input[type=checkbox][name=priceSorting]:checked');
            const sortBySelect = document.getElementById('sortby').value;

            const selectedCategories = Array.from(checkboxes).map(cb => cb.value);
            const selectedPriceSort = Array.from(priceSort).map(ps => ps.value);
            const searchValue = getSearchValue();

            const queryParams = new URLSearchParams({
                search: searchValue,
                categories: selectedCategories.join(','),
                priceSort: selectedPriceSort.join(','),
                sortBy: sortBySelect,
            });

            window.location.href = `/product?${queryParams}`;
        } catch (error) {
            console.log(error);
        }
    };

    document.getElementById('apply').addEventListener('click', filterdProducts);
</script>


<%-include('../layouts/footbar') %>
<%-include('../layouts/footer') %>