<%-include('../layouts/header')%>
    <%-include('../layouts/navbar')%>

        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Checkout</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/product">Shop</a></li>
                        <li class="breadcrumb-item active">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <div class="checkout-discount">
                            <form action="#">
                                <input type="text" class="form-control" required id="checkout-discount-input">
                                <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click
                                        here to enter your code</span></label>
                            </form>
                        </div><!-- End .checkout-discount -->
                        <form action="/placeOrder" method = 'POST' id="orderForm">                            <!-- Button to trigger modal -->
                            <h5 class="modal-title" id="billingModalLabel">Billing Address</h5>
                            <% if (errormsg) { %>
                                <div class="text-center" style="color: red; background: white;">
                                    <%= errormsg %>
                                </div>
                             <%   }    %>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="text-right mb-3">
                                            <button id="addAddressBtn" class="btn btn-primary" type="button"
                                                data-toggle="modal" data-target="#addAddressModal">Add New
                                                Address</button>
                                        </div>
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <div class="row">
                                                    <% if(addressData && addressData.address){ %>
                                                        <% addressData.address.forEach((addresses, index)=> { %>
                                                            <div class="col-md-6 col-lg-4 mb-3">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h4>Address <%= index + 1 %>
                                                                        </h4>
                                                                        <p>
                                                                            <%= addresses.name %>
                                                                        </p>
                                                                        <p>
                                                                            <%= addresses.email %>
                                                                        </p>
                                                                        <p>
                                                                            <%= addresses.mobile %>
                                                                        </p>
                                                                        <p>
                                                                            <%= addresses.pincode %>
                                                                        </p>
                                                                        <p>
                                                                            <%= addresses.state %>
                                                                        </p>
                                                                        <p>
                                                                            <%= addresses.dist %>
                                                                        </p>
                                                                        <p>
                                                                            <%= addresses.city %>
                                                                        </p>
                                                                        <p>
                                                                            <%= addresses.area %>
                                                                        </p>
                                                                        <p>
                                                                            <%= addresses.houseName %>
                                                                        </p>
                                                                        <p>
                                                                            <%= addresses.houseNo %>
                                                                        </p>
                                                                        <div class="text-center mb-2 mt-2">
                                                                            <input type="radio" name="selectedAddress"
                                                                                value="<%= addresses._id %>">
                                                                            <label>Select</label>
                                                                            <button><a href="#"
                                                                                    onclick="editAddress('<%= addresses._id %>')">Edit</a></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% }) %>
                                                                <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <form action="">
                                            <div class="summary">
                                                <h3 class="summary-title">Your Order</h3>
                                                <table class="table table-summary">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <% if(cartData && cartData.length > 0) { %>
                                                            <% let subtotal = 0; %>
                                                            <% cartData.forEach(product => { %>
                                                                <tr>
                                                                    <td><a><%= product.productId.name %></a></td>
                                                                    <% if(product.productId.finalPrice) { %>
                                                                    <td>₹<%= product.productId.finalPrice %></td>
                                                                    <% } else { %>
                                                                        <td>₹<%= product.productId.price %></td>
                                                                        <% } %>
                                                                </tr>
                                                                <% subtotal += product.totalAmount; %>
                                                                <% }); %>
                                                                <tr class="summary-subtotal">
                                                                    <td>Subtotal:</td>
                                                                    <td>₹<%= subtotal %></td>
                                                                </tr><!-- End .summary-subtotal -->
                                                                
                                                            <tr>
                                                                <td>Shipping:</td>
                                                                <td>Free shipping</td>
                                                            </tr>
                                                            <tr class="summary-total">
                                                                <td>Total:</td>
                                                                <td>₹<%= totalCartPrice %></td>
                                                            </tr><!-- End .summary-total -->
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="2">Your cart is empty</td>
                                                            </tr>
                                                        <% } %>
                                                    </tbody>
                                                    
                                                </table>
                                                <div class="accordion-summary" id="accordion-payment">
                                                    <div class="card">
                                                        <div class="card-header" id="heading-1">
                                                            <h2 class="card-title">
                                                                <label>
                                                                    <input type="radio" name="payment-method"
                                                                        value="Wallet">
                                                                    Wallet
                                                                </label>
                                                            </h2>
                                                        </div><!-- End .card-header -->
                                                        <div id="collapse-1" class="collapse"
                                                            aria-labelledby="heading-1"
                                                            data-parent="#accordion-payment">
                                                        </div><!-- End .collapse -->
                                                    </div><!-- End .card -->

                                                    <div class="card">
                                                        <div class="card-header" id="heading-3">
                                                            <h2 class="card-title">
                                                                <label>
                                                                    <input type="radio" name="payment-method"
                                                                        value="cash-on-delivery">
                                                                    Cash on delivery
                                                                </label>
                                                            </h2>
                                                        </div><!-- End .card-header -->
                                                        <div id="collapse-3" class="collapse"
                                                            aria-labelledby="heading-3"
                                                            data-parent="#accordion-payment">
                                                        </div><!-- End .collapse -->
                                                    </div><!-- End .card -->

                                                    <div class="card">
                                                        <div class="card-header" id="heading-4">
                                                            <h2 class="card-title">
                                                                <label>
                                                                    <input type="radio" name="payment-method"
                                                                        value="online-payment">
                                                                    Online Payment
                                                                </label>
                                                            </h2>
                                                        </div><!-- End .card-header -->
                                                        <div id="collapse-4" class="collapse"
                                                            aria-labelledby="heading-4"
                                                            data-parent="#accordion-payment">
                                                        </div><!-- End .collapse -->
                                                    </div><!-- End .card -->

                                                    <div class="card">
                                                        <div class="card-header" id="heading-5">
                                                            <h2 class="card-title">
                                                                <label>
                                                                    <img src="/user/assets/images/payments-summary.png"
                                                                        alt="payments cards">
                                                                </label>
                                                            </h2>
                                                        </div><!-- End .card-header -->
                                                        <div id="collapse-5" class="collapse"
                                                            aria-labelledby="heading-5"
                                                            data-parent="#accordion-payment">
                                                        </div><!-- End .collapse -->
                                                    </div><!-- End .card -->

                                                </div>
                                                <button type="submit"
                                                    class="btn btn-outline-primary-2 btn-order btn-block">
                                                    <span>Place Order</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <!-- Modal -->
                            <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog"
                                aria-labelledby="addAddressModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="/addnewAddress" onsubmit="return validation()">
                                                <div class="form-group px-2">
                                                    <label for="Name">Name:</label>
                                                    <input type="text" class="form-control" id="Name" name="Name"
                                                        placeholder="Enter your Name">
                                                    <span id="errorName" class="text-danger"></span>
                                                </div>
                                                <div class="form-group px-2">
                                                    <label for="Mobile">Mobile:</label>
                                                    <input type="text" class="form-control" id="Mobile" name="Mobile"
                                                        placeholder="Enter your Mobile number">
                                                    <span id="errorMobile" class="text-danger"></span>
                                                </div>
                                                <div class="form-row px-2">
                                                    <div class="form-group col">
                                                        <label for="Pincode">Pincode:</label>
                                                        <input type="text" class="form-control" id="Pincode"
                                                            name="Pincode" placeholder="Enter Pincode">
                                                        <span id="errorPincode" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col">
                                                        <label for="State">State:</label>
                                                        <input type="text" class="form-control" id="State" name="State"
                                                            placeholder="Enter state">
                                                        <span id="errorState" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-row px-2">
                                                    <div class="form-group col">
                                                        <label for="District">District:</label>
                                                        <input type="text" class="form-control" id="District"
                                                            name="District" placeholder="Enter District">
                                                        <span id="errorDistrict" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group col">
                                                        <label for="City">City:</label>
                                                        <input type="text" class="form-control" id="City" name="City"
                                                            placeholder="Enter City">
                                                        <span id="errorCity" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group px-2">
                                                    <label for="houseAddress">House Address:</label>
                                                    <input type="text" class="form-control" id="houseAddress"
                                                        name="houseAddress" placeholder="Enter House Address">
                                                    <span id="errorhouseAddress" class="text-danger"></span>
                                                </div>
                                                <div class="form-row px-2">
                                                    <div class="col-6">
                                                        <label>House No:</label>
                                                        <input type="text" class="form-control" id="houseNumber"
                                                            name="houseNumber" placeholder="Enter House Number">
                                                        <span id="errorhouseNumber" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div><!-- End .col-lg-9 -->

                </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
            </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
        <script>
            function validation() {
                const name = document.getElementById('Name').value.trim();
                const mobile = document.getElementById('Mobile').value.trim();
                const pincode = document.getElementById('Pincode').value.trim()
                const state = document.getElementById('State').value.trim()
                const district = document.getElementById('District').value.trim()
                const city = document.getElementById('City').value.trim()
                const houseAddress = document.getElementById('houseAddress').value.trim()
                const houseNo = document.getElementById('houseNumber').value.trim()




                document.getElementById('errorName').innerText = '';
                document.getElementById('errorMobile').innerText = '';
                document.getElementById('errorPincode').innerText = '';
                document.getElementById('errorState').innerText = '';
                document.getElementById('errorDistrict').innerText = '';
                document.getElementById('errorCity').innerText = '';
                document.getElementById('errorhouseAddress').innerText = '';
                document.getElementById('errorhouseNumber').innerText = '';

                let nameRegex = /^[a-zA-Z]+(?: [a-zA-Z]+)*$/;
                const mobileRegex = /^\d{10}$/;
                let pincodeRegex = /^.{6,}$/;
                let stateRegex = /^[a-zA-Z]+(?: [a-zA-Z]+)*$/;
                let cityRegex = /^[a-zA-Z]+(?: [a-zA-Z]+)*$/;

                let districtRegex = /^[a-zA-Z]+(?: [a-zA-Z]+)*$/;
                let houseAddressRegex = /^[a-zA-Z]+(?: [a-zA-Z]+)*$/;
                let houseNoRegex = /^.{4,}$/;

                if (name === '') {
                    errorName.innerText = 'name cannot be empty';
                    return false;
                } else if (!nameRegex.test(name)) {
                    errorName.innerText = 'name can only contain letters and spaces';
                    return false;
                } else if (name.charAt(0) === '') {
                    errorName.innerText = 'please remove the space'
                    return false
                }



                if (mobile === "") {
                    errorMobile.innerText = "Mobile number cannot be empty";
                    return false;
                } else if (!mobileRegex.test(mobile)) {
                    errorMobile.innerText = "Please enter a valid 10-digit mobile number";
                    return false;
                }


                if (pincode === "") {
                    errorPincode.innerText = "Pincode cannot be empty";
                    return false;
                } else if (!pincodeRegex.test(pincode)) {
                    errorPincode.innerText = "Pincode must be at least 5 characters";
                    return false;
                }

                if (state === "") {
                    errorState.innerText = "State cannot be empty";
                    return false;
                } else if (!stateRegex.test(state)) {
                    errorState.innerText = "only enter characters";
                    return false;
                }

                if (district === "") {
                    errorDistrict.innerText = "district cannot be empty";
                    return false;
                } else if (!districtRegex.test(district)) {
                    errorDistrict.innerText = "only enter characters";
                    return false;
                }

                if (city === "") {
                    errorCity.innerText = "Email cannot be empty";
                    return false;
                } else if (!cityRegex.test(city)) {
                    errorCity.innerText = "only enter characters";
                    return false;
                }


                if (houseAddress === "") {
                    errorhouseAddress.innerText = "Email cannot be empty";
                    return false;
                } else if (!houseAddressRegex.test(houseAddress)) {
                    errorhouseAddress.innerText = "only enter characters";
                    return false;
                }
                if (houseNo === "") {
                    errorhouseNumber.innerText = "Email cannot be empty";
                    return false;
                } else if (!houseNoRegex.test(houseNo)) {
                    errorhouseNumber.innerText = "house number can only contain numbers";
                    return false;
                }


                return true;
            }


            function editAddress(addressId) {
                var checkouteditAddressUrl = '/checkoutAdsedit?addressId=' + addressId;
                window.location.href = checkouteditAddressUrl
            }


            document.addEventListener('DOMContentLoaded', () => {
                function placeOrder(paymentMethodType, addressId) {
                    const body = JSON.stringify({ paymentMethodType, addressId });
                    fetch('/placeOrder', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: body,
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Order Successful',
                                text: 'Your order was placed successfully!',
                            }).then(() => {
                                window.location.href = '/';
                            });
                        } else if (data.message === 'no_wallet') {
                            Swal.fire({
                                icon: 'error',
                                title: 'No Wallet',
                                text: 'You have no wallet',
                            });
                        } else if (data.message === 'insufficient_balance') {
                            Swal.fire({
                                icon: 'error',
                                title: 'Insufficient Balance',
                                text: `You don't have enough balance in your wallet.`,
                            });
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
                }

                document.querySelector('#orderForm').addEventListener('submit', (event) => {
                    event.preventDefault();
                    const paymentMethod = document.querySelector('input[name="payment-method"]:checked').value;
                    console.log('Selected Payment Method:', paymentMethod);
                    const selectedAddress = document.querySelector('input[name="selectedAddress"]:checked').value;
                    placeOrder(paymentMethod, selectedAddress);
                });
            });

        </script>
        <%-include('../layouts/footbar') %>
            <%-include('../layouts/footer') %>