<%-include('../layouts/header')%>
<%-include('../layouts/navbar')%>

<style>
    .offer-price {
        color: red;
    }

    .original-price {
        text-decoration: line-through;
    }

    .banner-lg video {
        width: 100%;
        height: 100%;
    }

    .banner-lg {
        position: relative;
    }

    .banner-content {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: left;
        padding-left: 20px; /* Add some padding if needed */
    }

    .banner-content img {
        max-width: 100%;
        height: auto;
    }

    .product-action a {
        display: block;
        margin-top: 10px;
    }

    .video-container video {
        width: 100%;
        max-width: 800px;
    }

    @media (max-width: 768px) {
        .border {
            width: 100%;
            text-align: center;
        }

        .banner-subtitle {
            margin-left: 0;
        }

        .product-body h3 {
            font-size: 1rem;
        }

        .product-body .product-price {
            font-size: 0.875rem;
        }

        .blog-posts .entry {
            margin-bottom: 15px;
        }
    }

    @media (max-width: 576px) {
        .col-sm-6 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
</style>

<main class="main">
    <div class="col-lg-13">
        <div class="banner-lg">
            <a href="/productDetails?id=6669797564fda4ba3710baef">
                <video src="\user\assets\videos\home main video.mp4" type="video/mp4" autoplay loop muted></video>
            </a>
            <div class="banner-content">
                <img src="\user\assets\images\main image logo.png" alt="Logo" class="mb-4">
                <h4 class="banner-subtitle text-white font-weight-bold mb-3">Amazing Value</h4>
                <div class="border border-black rounded-lg p-3 pl-5 mt-3" style="border-width: 10px; width: 200px;">
                    <a href="/productDetails?id=6669797564fda4ba3710baef" class="banner-link font-weight-bold text-white">Shop Now<i class="icon-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-2 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="banner banner-overlay">
                        <a href="#"><img src="user/assets/images/demos/demo-6/banners/banner-1.png" alt="Banner"></a>
                        <div class="banner-content banner-content-center">
                            <h4 class="banner-subtitle text-white"><a href="#">New in</a></h4>
                            <h3 class="banner-title text-white"><a href="#"><strong>Women’s</strong></h3>
                            <a href="#" class="btn btn-outline-white banner-link underline">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="banner banner-overlay">
                        <a href="#"><img src="user/assets/images/demos/demo-6/banners/banner-2.png" alt="Banner"></a>
                        <div class="banner-content banner-content-center">
                            <h4 class="banner-subtitle text-white"><a href="#">New in</a></h4>
                            <h3 class="banner-title text-white"><a href="#"><strong>Men’s</strong></a></h3>
                            <a href="#" class="btn btn-outline-white banner-link underline">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-0 mb-0">
        </div>
    </div>

    <div class="container">
        <h2 class="title text-center mb-4">New Arrivals</h2>
        <div class="products">
            <div class="row justify-content-center">
                <% products.slice(0, 8).forEach(product => { %>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <% if(product.discount) { %>
                                <span class="product-label label-new"><%= product.discount %>%</span>
                            <% } %>
                            <a href="/productDetails?id=<%= product._id %>">
                                <img src="/IMAGES/<%= product.Inputimage[0].filename %>" alt="Product image" class="product-image">
                            </a>
                            <% if(userData) { %>
                                <div class="product-action-vertical">
                                    <a onclick="addtoWishlist('<%= product._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div>
                            <% } else { %>
                                <div class="product-action-vertical">
                                    <a href="/login" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div>
                            <% } %>
                            <% if(userData){%>
                                <% if(product.quantity > 0) { %>
                                    <div class="product-action">
                                        <a onclick="addtocart('<%= product._id %>')" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div>
                                <% } else { %>
                                    <div>
                                        <a class="btn-product btn-cart"><span>out of stock</span></a>
                                    </div>
                                <% } %>
                            <% } else { %>
                                <a href="/login" class="btn-product btn-cart"><span>add to cart</span></a>
                            <% } %>
                        </figure>
                        <div class="product-body">
                            <h3 class="product-title"><a href="/productDetails?id=<%= product._id %>"><%= product.name %></a></h3>
                            <% if (product.finalPrice !== product.price) { %>
                                <div class="product-price mt-2">
                                    <span class="offer-price pr-1">₹<%= product.finalPrice %></span>
                                    <span>was</span>
                                    <span class="original-price pl-1">₹<%= product.price %></span>
                                </div>
                            <% } else { %>
                                <div class="product-price mt-2">
                                    ₹<%= product.price %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="title text-center mb-4">Our Latest Video</h2>
        <div class="video-container text-center">
            <video src="\user\assets\videos\home page video-2.mp4" type="video/mp4" autoplay loop muted></video>
        </div>
    </div>
</main>

<script>
    function addtocart(productId){
        const quantity=1;
        fetch(`/addToCart?productId=${productId}&quantity=${quantity}`,{
            method:'post'})
            .then(response=>response.json())
            .then(data=>{
                if(data.success){
                    Swal.fire({
                        icon:'success',
                        title:'Success',
                        text:'successfully product added to cart',
                        showConfiremButton:false,
                        timer:2500,
                    })
                    .then(()=>{
                        window.location.reload()
                    });
                }else{
                    Swal.fire({
                        icon:'error',
                        title:'Error',
                        text:'failed to add product to cart',
                        showConfiremButton:false,
                        timer:2500
                    })
                }
            })
            .catch(error=>{
                console.log(error);
                Swal.fire({
                    icon:'error',
                    title:'Error',
                    text:'an error occurred whiel adding product to cart',
                    showConfiremButton:false,
                    timer:2500
                })
            })
    }
</script>

<script>
    function addtoWishlist(productId){
        fetch('/addToWishlist',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({productId})
        })
        .then(response=>response.json())
        .then(data=>{
            if(data.success){
                Swal.fire(
                    'Success',
                    'successfully product added to wishlist',
                    'success'
                )
            }else{
                Swal.fire(
                    'Failed',
                    'your wishlist adding failed',
                    'error'
                )
            }
        })
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var mobileMenuToggler = document.querySelector(".mobile-menu-toggler");
        var mobileMenuContainer = document.querySelector(".mobile-menu-container");
        var mobileMenuClose = document.querySelector(".mobile-menu-close");
        var mobileMenuOverlay = document.querySelector(".mobile-menu-overlay");

        mobileMenuToggler.addEventListener("click", function() {
            mobileMenuContainer.classList.toggle("open");
        });

        mobileMenuClose.addEventListener("click", function() {
            mobileMenuContainer.classList.remove("open");
        });

        mobileMenuOverlay.addEventListener("click", function() {
            mobileMenuContainer.classList.remove("open");
        });
    });
</script>
<%-include('../layouts/footbar') %>
<%-include('../layouts/footer') %>