<%-include('../layouts/header')%>
<%-include('../layouts/navbar')%>


<main class="main">
    <div class="intro-slider-container">
        <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" data-owl-options='{
            "dots": false,
            "nav": false, 
            "responsive": {
                "992": {
                    "nav": true
                }
            }
        }'>
            <div class="intro-slide" style="background-image: url(user/assets/images/demos/demo-6/slider/slide-1.jpg);">
                <div class="container intro-content" style="margin-right: 100px; width: 150px; margin-top: 20%">
                    <h3 class="intro-subtitle text-white">SPORTS</h3>
                    <h1 class="intro-title text-white" style="font-size: 30px; letter-spacing: 3px;">Football <br> Equips</h1>
                    <a href="category.html" class="btn btn-outline-white-4"><span>Discover More</span></a>
                </div>
            </div>
        </div>
        <span class="slider-loader"></span>
    </div>

    <div class="pt-2 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="banner banner-overlay">
                        <a href="#"><img src="user/assets/images/demos/demo-6/banners/banner-1.png" alt="Banner"></a>
                        <div class="banner-content banner-content-center">
                            <h4 class="banner-subtitle text-white"><a href="#">New in</a></h4>
                            <h3 class="banner-title text-white"><a href="#"><strong>Women’s</strong></h3>
                            <a href="#" class="btn btn-outline-white banner-link underline">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="banner banner-overlay">
                        <a href="#"><img src="user/assets/images/demos/demo-6/banners/banner-2.png" alt="Banner"></a>
                        <div class="banner-content banner-content-center">
                            <h4 class="banner-subtitle text-white"><a href="#">New in</a></h4>
                            <h3 class="banner-title text-white"><a href="#"><strong>Men’s</strong></a></h3>
                            <a href="#" class="btn btn-outline-white banner-link underline">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-0 mb-0">
        </div>
    </div>

    <div class="container">
        <h2 class="title text-center mb-4">New Arrivals</h2>
        <div class="products">
            <div class="row justify-content-center">
                <% products.slice(0, 8).forEach(product => { %>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="/productDetails?id=<%= product._id %>">
                                <img src="/IMAGES/<%= product.Inputimage[0].filename %>" alt="Product image" class="product-image">
                            </a>
                            <% if(userData) {%>
                                <div class="product-action-vertical">
                                    <a onclick="addtoWishlist('<%= product._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                                <% } else { %>
                                    <div class="product-action-vertical">
                                        <a href="/login" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div>
                                    <% } %>
                            <% if(product.quantity > 0) { %>
                                <div class="product-action">
                                    <a onclick="addtocart('<%= product._id %>')" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div>
                            <% } else { %>
                            <div >
                                <a class="btn-product btn-cart"><span>out of stock</span></a>
                            </div>
                            <% } %>
                            <a href="/login" class="btn-product btn-cart"><span>add to cart</span></a>
                        </figure>
                        <div class="product-body">
                            <h3 class="product-title"><a href="/productDetails?id=<%= product._id %>"><%= product.name %></a></h3>
                            <div class="product-price">$<%= product.price %></div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>

    <div class="blog-posts">
        <div class="container">
            <h2 class="title text-center mb-4">Vision of Equips</h2>
            <div class="owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
                "nav": false, 
                "dots": true,
                "items": 3,
                "loop": false,
                "responsive": {
                    "0": {
                        "items":1
                    },
                    "600": {
                        "items":2
                    },
                    "992": {
                        "items":3
                    }
                }
            }'>
                <article class="entry">
                    <figure class="entry-media">
                        <a href="single.html">
                            <img src="user/assets/images/demos/demo-6/blog/post-1.jpg" alt="image desc">
                        </a>
                    </figure>
                </article>
                <article class="entry">
                    <figure class="entry-media">
                        <a href="single.html">
                            <img src="user/assets/images/demos/demo-6/blog/post-2.jpg" alt="image desc">
                        </a>
                    </figure>
                </article>
                <article class="entry">
                    <figure class="entry-media">
                        <a href="single.html">
                            <img src="user/assets/images/demos/demo-6/blog/post-3.jpg" alt="image desc">
                        </a>
                    </figure>
                </article>
            </div>
        </div>
    </div>
</main>
<script>
    function addtocart(productId){
        const quantity=1;
        fetch(`/addToCart?productId=${productId}&quantity=${quantity}`,{
            method:'post'})
            .then(response=>response.json())
            .then(data=>{
                if(data.success){
                    Swal.fire({
                        icon:'success',
                        title:'Success',
                        text:'successfully product added to cart',
                        showConfiremButton:false,
                        timer:2500,
                    })
                    .then(()=>{
                        window.location.reload()
                    });
                }else{
                    Swal.fire({
                        icon:'error',
                        title:'Error',
                        text:'failed to add product to cart',
                        showConfiremButton:false,
                        timer:2500
                    })
                }
            })
            .catch(error=>{
                console.log(error);
                Swal.fire({
                    icon:'error',
                    title:'Error',
                    text:'an error occurred whiel adding product to cart',
                    showConfiremButton:false,
                    timer:2500
                })
            })
    }
</script>

<script>
    function addtoWishlist(productId){
        fetch('/addToWishlist',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({productId})
        })
        .then(response=>response.json())
        .then(data=>{
            if(data.success){
                Swal.fire(
                    'Success',
                    'successfully product added to wishlist',
                    'success'
                )
            }else{
                Swal.fire(
                    'Failed',
                    'your wishlist adding failed',
                    'error'
                )
            }
        })
    }
</script>

<%-include('../layouts/footbar') %>
<%-include('../layouts/footer') %>