<%-include('../layouts/header')%>
<%-include('../layouts/navbar')%>

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #cad1dc;
    color: #333639;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
    font-weight: 500;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}


p {
    margin: 0px;
}

.h8 {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.card .atm {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.card .visa {
    width: 50px;
    height: 20px;
    object-fit: fill;
}

.card .master {
    width: 50px;
    height: 50px;
    object-fit: fill;
}

.debit-card {
    width: 100%;
    height: 180px;
    padding: 20px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #0000001a;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.debit-card:hover {
    box-shadow: 5px 3px 5px #000000a2;
}

.card-2 {
    background-image: linear-gradient(116deg, #0d0d0d 0%, #444343 100%);
}

.text-muted {
    font-size: 0.8rem;
}

.text-white {
    font-size: 14px;
}
.rounded-circle {
        border-radius: 50% !important;
    }

.input {
    position: absolute;
    top: 6px;
    right: 0;
}
.img-account-profile {
        height: 10rem;
}
.btn:hover{
    background-color: gray;
}
.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
.btn {
        color: #fff;
    }
    
    .btn-add-money {
        background-color: #688078;
    }
    
    .btn-transactions {
        background-color: rgb(111, 54, 54);
    }
    
    .btn-withdrawal {
        background-color: rgb(31, 22, 39);
    }

    .btn:hover {
        background-color: gray;
    }

    .input {
    position: absolute;
    top: 6px;
    right: 0;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #eee;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

input[type="radio"]:after {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f00c";
    color: #fff;
    font-size: 15px;
    display: none;
}

input[type="radio"]:checked,
input[type="radio"]:checked:hover {
    background-color: blue;
}

input[type="radio"]:checked::after {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="radio"]:hover {
    background-color: #ddd;
}
</style>

<style>
    .modal-content {
         border-radius: 10px;
         box-shadow: 0 4px 8px rgba(0,0,0,0.2);
     }
    .modal-header {
         background-color: #f8f9fa;
         color: #333;
     }
    .modal-body {
         color: #666;
     }
    .table {
         width: 100%; /* Adjusted to ensure it fits well within the modal */
         margin-bottom: 20px;
     }
    .table th,.table td {
         text-align: left;
         padding: 8px;
     }
    .table tr:nth-child(even) {
         background-color: #f2f2f2;
     }
    .table th {
         background-color: #4CAF50;
         color: white;
     }
    .table th h5,.table th small {
         margin: 0;
     }
    .close {
         opacity: 1;
     }
    .modal-dialog {
         max-width: 70%; /* Makes the modal wider */
         margin: auto; /* Centers the modal */
     }
     
 </style>


<div class="container-xl px-4 mt-4 mb-5">
    <nav class="nav nav-borders">
        <a class="nav-link " href="/userProfile" target="__blank">Profile</a>
        <a class="nav-link" href="/addressList" target="__blank">Address</a>
        <a class="nav-link active ms-0" href="/wallet" target="__blank">Wallet</a>
        <a class="nav-link" href="" target="__blank">Coupons</a>
        <a class="nav-link" href="/orderHistoryList" target="__blank">Order History</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-md-6 col-xl-4 mb-4">
            <div class="card">
                <div class="card-header">Profile Picture</div>
                <div class="card-body d-flex justify-content-center ml-5">
                    <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                </div>
                <span class="text-center"><%= userData.name %></span>
            </div>
        </div>
        <div class="col-md-6 col-xl-8">
            <div class="card">
                <div class="card-header">Wallet</div>
                <div class="card-body">
                    <div class="d-md-flex justify-content-between align-items-center mb-4">
                        <div class="debit-card card-2 mb-3 mb-md-0" style="max-width: 650px;"> <!-- Use max-width instead of width -->
                            <div class="d-flex flex-column h-100">
                                <label class="d-block">
                                    <div class="d-flex position-relative">
                                        <div>
                                            <img src="https://www.freepnglogos.com/uploads/mastercard-png/mastercard-logo-png-transparent-svg-vector-bie-supply-0.png"
                                                alt="master" class="master">
                                            <p class="text-white fw-bold"><%= userData.name %></p>
                                        </div>
                                    </div>
                                </label>
                                <div class="d-flex justify-content-between"> <!-- Remove fixed width -->
                                    <div class="mt-auto fw-bold d-flex align-items-center" style="min-width: 150px;"> <!-- Use min-width instead of width -->
                                        <p class="m-0">9891 1320 9685 5343</p>
                                    </div>
                                    <div class='d-flex align-items-center justify-content-end flex-grow-1'> <!-- Make the second div fill the remaining space -->
                                        <% if(walletData) { %>
                                        <span class="text-white fw-bold m-0">Balance : </span>
                                            <span class="text-white fw-bold m-0"> ₹ <%= walletData.balance %></span>
                                        <% } %>
                                        <% if (errormsg) { %>
                                            <div class="text-center" style="color: red; background: white;">
                                                <%= errormsg %>
                                            </div>
                                         <%   }    %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if(walletData) { %>
                        <div class="d-flex flex-column mt-md-2">
                            <button class="btn btn-add-money mb-2" id="addMoneybtn" data-toggle="modal" data-target="#addMoneyModal">Add money</button>
                            <button class="btn btn-transactions mb-2" id="transactionBtn" data-toggle="modal" data-target="#transactionsModal">Transactions</button>
                            <button class="btn btn-withdrawal mb-2" id="WithdrawalBtn" data-toggle="modal" data-target="#withdrawalModal">Withdrawal</button>
                        </div>
                        <% }else{ %>
                            <div class="d-flex flex-column mt-md-2">
                                <button class="btn btn-add-money mb-2" id="addMoneybtn" data-toggle="modal" data-target="#addMoneyModal">Add money</button>
                            </div>
                             <% } %>
                        <div class="modal fade" id="addMoneyModal" tabindex="-1" role="dialog" aria-labelledby="addMoneyModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addMoneyModalLabel">Add Money</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Add your form here -->
                                        <form method="post" action="/walletMoney">
                                            <div class="form-group px-4">
                                                <label for="amount">Amount</label>
                                                <input type="text" class="form-control" id="amount" name="addamount" placeholder="Enter amount">
                                            </div>
                                            <div class="form-group px-4">
                                                <label for="payment-method">Payment Method</label>
                                                <select class="form-control" id="payment-method" name="payment-method">
                                                    <option name="credit-card" value="credit-card">Credit Card</option>
                                                    <option name="google-pay" value="google-pay">G-pay</option>
                                                    <option name="paypal" value="paypal">PayPal</option>
                                                    <option name="bank-transfer" value="bank-transfer">Bank Transfer</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Transactions Modal -->
                        <div class="modal fade" id="transactionsModal" tabindex="-1" role="dialog" aria-labelledby="transactionsModalLabel" aria-hidden="true" >
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="transactionsModalLabel">Transactions</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="table-responsive ">
                                            
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Statement</th>
                                                        <th>Status</th>
                                                        <th>Amount</th>
                                                        <th>Balance</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% reverse.forEach(data=>{ %>
                                                    <tr>
                                                        <td><%= data.date %></td>
                                                        <td><%= data.method  %></td>
                                                        <td><%= data.transactionType %></td>
                                                        <% if(data.transactionType=='debit') { %>
                                                        <td>-<%= data.amount %></td>
                                                        <% } else { %>
                                                            <td><%= data.amount %></td>

                                                            <% } %>
                                                        <td><%= data.currentAmount %></td>
                                                    </tr>
                                                    <% }) %>
                                                    
                                                </tbody>
                                            </table>
                                            <% if(walletData) { %>
                                            <p>Total Amount : ₹<%= walletData.balance %></p>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    
                        <!-- Withdrawal Modal -->
                        <div class="modal fade" id="withdrawalModal" tabindex="-1" role="dialog" aria-labelledby="withdrawalModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="withdrawalModalLabel">Withdrawal</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Add your form or content here -->
                                        <form method="post" action="/withdrawal">
                                            <div class="form-group px-4">
                                                <label for="withdrawalAmount">Withdrawal Amount</label>
                                                <input type="text" class="form-control" id="withdrawalAmount" name="withdrwAmount" placeholder="Enter amount">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (successmsg) { %>
                        <div class="text-center" style="color: rgb(1, 102, 12); background: white;">
                            <%= successmsg %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        
        
        
    </div>
</div>




<%-include('../layouts/footbar') %>
<%-include('../layouts/footer') %>